<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="taskApp">
            <h1>{{nameApp}}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Hecho</th>
                        <th>Tarea</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tarea in tareas">
                        <td>
                            <label>
                                <input type="checkbox" v-model="tarea.hecho" />
                                <span>

                                </span>
                            </label>

                        </td>
                        <td>
                            {{tarea.titulo}}
                        </td>
                        <td>
                            <button class="waves-effect waves-light btn" v-on:click="eliminar(tarea)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        new Vue({
            el: "#taskApp",
            data: {
                nameApp: "Tareas Vueee",
                tareas: [{
                    titulo: "Tarea 1",
                    hecho:true
                },
                {
                    titulo: "Tarea 2",
                    hecho: false
                },
                {
                    titulo: "Tarea 3",
                    hecho: false
                }
                ]
            },
            methods:{
                eliminar(tarea){
                    console.log(this.tareas.indexOf(tarea));
                }
            }
        })
    </script>



</body>

</html>